WORK WITH NUMBERS


Numbers we called in technical term = NUMERICAL DATA

In [1]:
# Example

1

1

In [ ]:
# operaters and operands

9+9   # Here 9 is operator and + is operands

18

As well as -,*,/,// are using as operands

In [ ]:
9-9  # substraction

0

In [ ]:
10/2    # Here we get float number 5.0  (decimal numbers we called float[float is datatype])

5.0

In [ ]:
# How to get Integer value?

10//2    # (//)  is called int devision, 5 is a int(intiger number)[int also a datatype]

5

In [ ]:
3*2  # multiplication

6

In [ ]:
3**2   # when we use double ** , it means 3 to the power 2

9

In [ ]:
5**2  # 5 to the power 2

25

In [ ]:
_   # _(under score) prints previous output

25

In [ ]:
_+3   # previou output is 25+3=28

28

In [ ]:
3+6*4-2-1  # it solve using BODMAS rule  (bracket//order//devide//multiply//add//substract)

24

In [ ]:
math.pi   # ERROR because we not define math.

NameError: name 'math' is not defined

In [14]:
import math
math.pi

3.141592653589793

In [ ]:
math.ceil(9.4)   # ceil prints round up value up to the whole number. (9.4=10, (whole number))

10

In [ ]:
math.floor(9.4)   # floor prints round up value down to the whole number. (9.4=9, (whole number))

9

WORK WITH TEXT

TEXT (string) in technical term we called catagorical data

In [ ]:
hello world

SyntaxError: invalid syntax (3537592377.py, line 1)

STRING defines as ' '(single quote), " " (double quote) and ''' ''' (triple quote)

In [18]:
'hello world'

'hello world'

In [19]:
"hello world"

'hello world'

In [20]:
'''hello world'''

'hello world'

In [ ]:
'''hello  
world'''  # for print next line we use triple quote

'hello\nworld'

STRING INDEXING AND SLICING

In [23]:
s='hello'
s

'hello'

in indexing (positioning) python starts counting from 0, in 'hello' the position or the index of h=0 ,e=1, l=2, l=3, o=4 also we indexing as h=-5, e=-4 ,l=-3, l=-2 ,o=-1(backword indexing)


so we can write the formula n=n-1


index is 2 types, count 0 to 4 is called FORWORD INDEXING and

In [ ]:
# how to print latter H in 'hello'

s[0]  #  print h using FORWORD INDEXING , for knowing indexing use [](square bracket).

'h'

In [ ]:
s[-1]  # print o using BACKWORD INDEXING

'o'