PYTHON VARIABLES

variable we also called identifier or object

In [3]:
v=5  # v= variable, 5= value
v

5

In [ ]:
id(5)  # id= address (where variable stores in memory)

140722812552232

In [ ]:
5=v  # variable does not starts with number

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3551119421.py, line 1)

In [ ]:
v2=10  # variable is case sensetive
v2

10

In [ ]:
v@=10   # special character is not allowed
v@

SyntaxError: invalid syntax (3204377232.py, line 2)

EVERY PROGRAMMING LANGUAGE HAVE SOME RESERVE WORD WE CALLED AS KEY WORDS

In [10]:
# how to print all key words?

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [12]:
# how to know the length of key word list?
len(keyword.kwlist)

35

In [ ]:
# we did not use reserve key words as variable.

if=56  # if is a keyword.

SyntaxError: invalid syntax (2483314545.py, line 3)

USING PYTHON AS A CALCULATOR

In [14]:
2+2

4

In [15]:
50-5*6

20

In [ ]:
(50-5*6)/4  # (/) division always gives float value

5.0

In [17]:
8/5

1.6

In [ ]:
50//2  # (//) gives int value

25

In [19]:
17/3

5.666666666666667

In [ ]:
17//3   #int division always discards the fractional part

5

In [ ]:
17%3  # % operators returns the remiander of the division

2

In [22]:
5*3+2

17

In [ ]:
# with python it is possible to use the ** operator to calculate powers

5**2  # 5 squired

25

In [ ]:
2**7   # 2 to the power 7

128

In [26]:
# the equal sign(=) is use to asign value to variable , after words, no results is displayed before the next in teractive promt

width=20
height=5*9
width*height

900

In [27]:
# if variable is not defined and we assigned a value if gives error

n

NameError: name 'n' is not defined

In [ ]:
# in python it full support for floating point, if we do operators with mix type operand to the integer operands to the floating point

4*3.75-1

14.0

In [31]:
# in interactive mode, the last printed expression assinged to the variable. this meansthat when we are using  python as a desk calculator
# it is somewhat easier to continue calculations, for example:

tax=12.5/100
price=100.50
price*tax

price+_

round(_,2)

113.06

In [ ]:
'soumendra bebart' # single quote

'soumendra bebart'

In [ ]:
"soumendra bebarta"  # double quote

'soumendra bebarta'

In [ ]:
'2000'  # under quote the number is also a string

'2000'

In [35]:
'does\'t'

"does't"

In [37]:
"does\'t"

"does't"

In [38]:
'"yes," they said'

'"yes," they said'

In [39]:
"\"yes,\" they said"

'"yes," they said'

In [40]:
s='hello world '
s

'hello world '

In [42]:
s="hello \n world"
s

'hello \n world'

In [43]:
print(s)

hello
 world

In [44]:
print("""\
    hello
    world""")

    hello
    world

In [49]:
print("""\
      hello 
      world
      welcome 
      to FSDS""")

      hello
      world
      welcome
      to FSDS

In [ ]:
print("""\
    hello   world  welcome to      FSDS World""")

    hello   world  welcome to      FSDS World

In [51]:
3*'un'

'ununun'

In [52]:
3*'un'+'ium'

'unununium'

In [53]:
'py' 'thon'

'python'

In [65]:
'som' 'bebarta'

'sombebarta'

In [56]:
name=('soumendra '
      'bebarta')
name

'soumendra bebarta'

In [71]:
prefix='py'
prefix

'py'

In [70]:

prefix 'thon'  # can't concatenate a variable with a string

SyntaxError: invalid syntax (2390523800.py, line 1)

In [72]:
prefix +'thon'

'python'

In [73]:
word= 'som'
word[0]

's'

In [74]:
word[1]

'o'

In [75]:
word[-1]

'm'

In [79]:
word[0:2]

'so'

In [80]:
word[4:]

''

In [81]:
word[1:]

'om'

In [82]:
word[-2:]

'om'

In [83]:
word[1:]+word[1:]

'omom'

In [84]:
word[0]+ word[1:3]

'som'

In [85]:
word[:50]

'som'

In [86]:
word[50:]

''

In [87]:
word[0]=m

NameError: name 'm' is not defined

In [88]:
'm'+ word[0:]

'msom'

In [89]:
word[0]+'m'

'sm'

In [90]:
word[0:]+'m'

'somm'

In [92]:
name='soumendra bebarta'
name

'soumendra bebarta'

In [93]:
len(name)

17