TYPE CASTING OR TYPE CONSERVATION  IN PYTHON

What is type conservation or Type casting ?

When we convert one data type to another datatype is called type casting or type conversion.

INT to OTHER

In [ ]:
int(2.3)   #this is a float datatype argument but when we code as int(2.3) it convert into int data type

2

In [ ]:
type(int(2.3))  # float to int type casting possible

int

In [ ]:
int(2.3,4.5) # we can not take 2 arguments for type casting

TypeError: 'float' object cannot be interpreted as an integer

In [9]:
print(int(True))
print(int(False))     # bool to int possible

1
0

In [ ]:
print(int('10'))      # string to int possible
print(type(int('10')))

10
<class 'int'>

In [ ]:
print(int('one'))   # string we write in text is not possible type casting into int.

ValueError: invalid literal for int() with base 10: 'one'

In [ ]:
print(int(1+2j))    # complex to int not possible

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

FROM ALL OTHER DATATYPE TO INT TYPE CASTING IS POSSIBLE EXCEPT COMPLEX AND STRING WITH TEXT.

FLOAT to OTHER

In [ ]:
print(float(2))   # int to float is possible

2.0

In [ ]:
print(float(False))   # float to bool is possible
print(float(True))

0.0
1.0

In [ ]:
print(float(1+2j))   # complex to float is not possible

TypeError: float() argument must be a string or a real number, not 'complex'

In [ ]:
print(float('2'))   # string with number to float is possible

2.0

In [ ]:
print(float('one'))  # string with text to float is not possible

ValueError: could not convert string to float: 'one'

FROM ALL OTHER DATA TYPES TO FLOAT TYPE CASTING IS POSSIBLE EXCEPT STRING WITH TEXT

COMPLEX to OTHER

In [ ]:
complex(10)  # int to complex is possible

(10+0j)

In [ ]:
complex(10,20)  # int with 2 argument is possible to type cast into complex

(10+20j)

In [ ]:
complex(10,20,30)  # 3 argument is not possible because complex have only real and imaginary part

TypeError: complex() takes at most 2 arguments (3 given)

In [ ]:
complex(2.3,5.6)  # float to complex is possible

(2.3+5.6j)

In [ ]:
complex(2.6)  # float with single argument possible

(2.6+0j)

In [ ]:
complex(2.3,5)  # float and int mix data type to complex is possible

(2.3+5j)

In [26]:
print(complex(True))     # bool to complex is possible
print(complex(False))
print(complex(True,True))
print(complex(True,False))
print(complex(False,False))
print(complex(False,True))

(1+0j)
0j
(1+1j)
(1+0j)
0j
1j

In [ ]:
print(complex('2')) # string with one argument to complex is possible.

(2+0j)

In [ ]:
print(complex('2',23))   # string and int to complex is not possible

TypeError: complex() can't take second arg if first is a string

In [ ]:
print(complex('2','2'))  #string 2 argument is not possible

TypeError: complex() can't take second arg if first is a string

In [ ]:
print(complex('two')) # string with text to complex is not possible

ValueError: complex() arg is a malformed string

In [ ]:
print(complex('2',True))   # string with bool to complex is not possible

TypeError: complex() can't take second arg if first is a string

FROM ALL OTHER DATA TYPE TO COMPLEX POSSIBLE EXCEPT STRING WITH 2 ARGUMET, TEXT ,BOOL, INT IS NOT POSSIBLE

STRING to OTHER

In [ ]:
str(2)  # int to string is possible

'2'

In [ ]:
str(2.2) # float to string is possible

'2.2'

In [ ]:
str(1+3j) # complex to string is possible

'(1+3j)'

In [ ]:
str(True)  # bool to string is possible

'True'

FROM ALL OTHER DATA TYPE TO STRING TYPE CASTING IS POSSIBLE