# PYTHON NON PRIMITIVE (BIULT IN) DATA STRUCTURE

LIST DATA STRUCTURE


1. list is an order siqunce of item.

2. we can have different data types under a list. E.g we can have ingeter, float and string items in a same list.

List Creation

In [36]:
list = []   # empty list

In [37]:
print(type(list))
print(len(list))

<class 'list'>
0

In [38]:
l2=[10,20,60]  # list of integer
print(l2)

[10, 20, 60]

In [39]:
l3=[10.3,2.3,60.33]  # list of float value
l3

[10.3, 2.3, 60.33]

In [40]:
l4=['one','two','three']
print(l4)

['one', 'two', 'three']

In [41]:
l5=['som',25,[50,100],[60,180]]  # nested list
print(l5)

['som', 25, [50, 100], [60, 180]]

In [42]:
l6=['som',100,3.2]  # list of mixed data type
print(l6)

['som', 100, 3.2]

In [43]:
l7=['som',25,[20,100],[60,180],{'jonhy','thor'}]
print(l7)

['som', 25, [20, 100], [60, 180], {'jonhy', 'thor'}]

List Indexing

indexing in python is a way to access individual elements if iterable data types such as list,tuples and arrays using their position(index).


* indexing is 2 types :

1.positive indexing: index start from 0 and goes forword.

2.negative indexing: index starts from -1(last item) and goes backword. it is use full to access elements from the end.

In [44]:
print(l2)

[10, 20, 60]

In [45]:
l2[0]

10

In [46]:
print(l4)

['one', 'two', 'three']

In [47]:
l4[0]  # retrive the 1st element of the list

'one'

In [48]:
l4[0][0]   #nested indexing - access the first chracter of the 1st list element

'o'

In [49]:
l4[-1]   # negative indexing to access the last item of the list

'three'

In [50]:
l5

['som', 25, [50, 100], [60, 180]]

In [51]:
l5[-1]

[60, 180]

List Slicing

* slicing is technique in python used to extraxt a protion of a sequences like :

 LIST

 STRING

 TUPLES

 ARRAYS (Numpy)

In [52]:
m_l =  ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
print(m_l)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [53]:
m_l[0:3]

['one', 'two', 'three']

In [54]:
m_l[2:5]

['three', 'four', 'five']

In [55]:
m_l[:2]  # return 1st 2 items

['one', 'two']

In [56]:
m_l[-3:]  # return last three items

['six', 'seven', 'eight']

In [57]:
m_l[-1] # return last of the items

'eight'

In [58]:
m_l[:]  # return whole items

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

Add, Remove & Change items

In [59]:
m_l

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [60]:
m_l.append('nine')  # add an item to the end of the list
m_l

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [61]:
m_l.insert(9,'ten')  # add item at index location 9
m_l

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [62]:
m_l.insert(1,'one')  # insert item at index location 1
m_l

['one',
 'one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [ ]:
m_l.remove('one')  # remove item 'one'
m_l

['two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
m_l.pop()  # remove last item of the list

'ten'

In [ ]:
m_l.pop(3)  # remove item at index location 3

'five'

In [71]:
del m_l[5]
m_l

['two', 'three', 'four', 'six', 'seven']

In [72]:
m_l

['two', 'three', 'four', 'six', 'seven']

In [ ]:
m_l[0] = 2   # change value of the string
m_l[1] = 3
m_l[2] = 4

m_l

[2, 3, 4, 'six', 'seven']

In [ ]:
m_l.clear()   # delete all items in the list

m_l

[]

In [ ]:
del m_l   # delete the whole list
m_l

NameError: name 'm_l' is not defined

Copy List

In [79]:
ml= ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine' ]
print(ml)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
ml1=ml  # creat a new reference ml1
ml1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [82]:
id(ml1),id(ml)

(2107231595392, 2107231595392)

In [91]:
ml2=ml.copy()  # creat a copy of the list
ml2

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [92]:
id(l2)

2107230244416

In [87]:
ml[0]=1
ml

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
print(ml1)  
print(ml2)

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

Join List

In [94]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven', 'eight'] 

print(list1)
print(list2)

['one', 'two', 'three', 'four']
['five', 'six', 'seven', 'eight']

In [96]:
list3= list1 + list2
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.extend(list2)  # append list2 with list 1
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

List Membership

In [99]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [ ]:
'one' in list1  # check if one exist in the list

True

In [101]:
'ten' in list1

False

In [102]:
if 'three' in list1:
    print('yes it is there')
else:
    print('no there is no three')

yes it is there

Reverse and Short List

In [103]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [105]:
list1.reverse()
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [ ]:
list1 = list1[::-1]  # reverse the list
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [108]:
list2

['five', 'six', 'seven', 'eight']

In [110]:
list2[0]=5
list2[1]=6
list2[2]=7
list2[3]=8

list2

[5, 6, 7, 8]

In [112]:
list2.sort()
list2

[5, 6, 7, 8]

In [ ]:
list5= [1,2,5,7,8,3,9,6,4]  # sort list in ascending list
list5.sort()
list5

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
# how to print in descending order

list6=[9,5,2,99,12,88,34]
list6.sort(reverse=True)
list6

[99, 88, 34, 12, 9, 5, 2]

In [ ]:
list7=[88,65,33,21,11,98]
sorted(list7)  # return new sorted list and does not change orginal

[11, 21, 33, 65, 88, 98]

In [121]:
list7

[88, 65, 33, 21, 11, 98]

Loop through a list

In [122]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [123]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight
five
six
seven
eight

In [125]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'five')
(9, 'six')
(10, 'seven')
(11, 'eight')

Count

In [126]:
list2

[5, 6, 7, 8]

In [127]:
list2.count(5)

1

All / Any


The all() method returns:

* True - if all elements in a list are true.
* False - if any element in a list is false.

The any() function returns True if any elements in the  list is True. if not, any() returns False.

In [129]:
L1=[1,2,3,4,0]
L1

[1, 2, 3, 4, 0]

In [ ]:
all(L1) # will return False as one value is false (value 0)

False

In [ ]:
any(L1)  # will return True as we have items in the  list with True value

True

In [133]:
L2=[1,2,3,4,True,False]
L2

[1, 2, 3, 4, True, False]

In [ ]:
all(L2)  # return false as one value is false

False

In [ ]:
any(L2)  # will return true as we have in the list True value

True

In [ ]:
L3=[1,2,True]
L3

[1, 2, True]

In [138]:
all(L3)  # will return True as all items in the list are True

True

# TUPLES

1. Tuple is similar to list except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.

2. when we do not want to change the data over time, tuple is a preferd data type.

3. itearting over the elements of a tuple is faster complared to iterating over alist.

Tuple Creation

In [ ]:
tup1 = ()  # Empty tuple

In [3]:
type(tup1)

tuple

In [4]:
len(tup1)

0

In [ ]:
tup2 = (10,30,60)  # tuple of integer numbers
tup2

(10, 30, 60)

In [ ]:
tup3 = (10.5,2.5,3.5)  # tuple of folat numbers
tup3

(10.5, 2.5, 3.5)

In [ ]:
tup4 = ('one','two','three')  # tuple of string
tup4

('one', 'two', 'three')

In [9]:
tup5 = ('som',25,(50,100),(80,70))  # nested tuple
tup5

('som', 25, (50, 100), (80, 70))

In [10]:
tup6 = ('som',1.2,100)  # tuple of mixed data types
tup6

('som', 1.2, 100)

In [ ]:
len(tup6)   # len of tuple

3

Tuple Indexing

In [12]:
tup2

(10, 30, 60)

In [ ]:
tup2[2] # retrive 3rd element of the tuple

60

In [14]:
tup4

('one', 'two', 'three')

In [ ]:
tup4[0][0]  # nested indexing - access the frst character of the first tuple elements

'o'

In [16]:
tup4[-1]

'three'

In [18]:
tup5[1,2]

TypeError: tuple indices must be integers or slices, not tuple

In [19]:
tup5[-1]

(80, 70)

Tuple Slicing

In [21]:
m_t = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')
m_t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
m_t [0:5]

('one', 'two', 'three', 'four', 'five')

In [25]:
m_t[2:5]

('three', 'four', 'five')

In [26]:
m_t[:3]

('one', 'two', 'three')

In [27]:
m_t[-3:]

('six', 'seven', 'eight')

In [28]:
m_t[-1]

'eight'

In [ ]:
m_t[::-1]  # it print reverse of the tuple

('eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one')

Remove and change items

In [30]:
m_t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [31]:
del m_t[0]  # Tuples are mutuble which means we can't delete tuple intems

TypeError: 'tuple' object doesn't support item deletion

In [32]:
m_t[0] = 2

TypeError: 'tuple' object does not support item assignment

In [ ]:
del m_t  # deleting entire tuple object is possible

Loop through a tuple

In [35]:
t= ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
t

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [36]:
for i in t:
    print(i)

one
two
three
four
five
six
seven
eight

In [37]:
for i in enumerate(t):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

Count

In [38]:
t1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three') 
t1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [ ]:
t1.count('one')  # number of times item 'one' occured in the tuple

3

In [40]:
t1.count('two')

2

Tuple Membership

In [41]:
t1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [ ]:
'one' in t1  # check if 'one' exist in the list

True

In [ ]:
'ten' in t1  # check if 'ten' exist in the list

False

In [44]:
if 'three' in t1:
    print('yes it is in tuple')
else:print('not present')

yes it is in tuple

In [45]:
if 'ten' in t1:
    print('yes it is in tuple')
else:print('not present')

not present

Index Position

In [50]:
t5 =('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight') 
t5

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [53]:
t5.index('one')  # index of first element equal to 'one'

0

In [54]:
t5.index('five')

4

Sorting

In [57]:
t2 =(55,67,9915,6,90,67)
t2

(55, 67, 9915, 6, 90, 67)

In [58]:
sorted(t2)

[6, 55, 67, 67, 90, 9915]

In [59]:
sorted(t2,reverse=True)

[9915, 90, 67, 67, 55, 6]

# SET

1. Unoredered & Unindexed collection of items.

2. Set elements are unique. Duplicate elements are not allowed.

3. Set elements are immuatable (can't be changed).

4. Set itself is mutable. We can add or remove items from it.

Set Creation

In [60]:
s ={1,2,3,4,5}  # set of numbers
s

{1, 2, 3, 4, 5}

In [61]:
type(s)

set

In [62]:
len(s)

5

In [66]:
s1 = {1,1,2,1,3,4,2,7,6,4,5} # duplicate not allowed also is print in ascending order
s1

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
s1={1.2,2.5,4.6,3.5}  # set of float numbers
s1

{1.2, 2.5, 3.5, 4.6}

In [70]:
s3={'som', 'name1','name 2','name3'}
s3

{'name 2', 'name1', 'name3', 'som'}

In [ ]:
s4={'som',{'name1'}}  # nested set not allowed

TypeError: unhashable type: 'set'

In [74]:
s5 ={10,20,'som.(10,20,30)'} # set of mixed numbers
s5

{10, 20, 'som.(10,20,30)'}

In [ ]:
s6 = {10,20,'som', [11,22,33,40]} # set not allowed muatabe items

TypeError: unhashable type: 'list'

In [78]:
s7=set()
s7

print(type (s7))

<class 'set'>

In [ ]:
s

{1, 2, 3, 4, 5}

In [82]:
s=set(('one','two','three','four'))
s

{'four', 'one', 'three', 'two'}

Loop through a Set

In [86]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 

for i in myset:
    print(i)

eight
seven
two
five
one
six
four
three

In [87]:
for i in enumerate(myset):
    print(i)

(0, 'eight')
(1, 'seven')
(2, 'two')
(3, 'five')
(4, 'one')
(5, 'six')
(6, 'four')
(7, 'three')

Set Membership

In [88]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [89]:
'five' in myset

True

In [90]:
'ten' in myset

False

In [91]:
if 'one' in myset:
    print('yesssss it is there')
else:
    print('nooooo not there')

yesssss it is there

In [92]:
if 'ten' in myset:print('yesssssss it is there')
else:print('nooooo please wear a chasma')

nooooo please wear a chasma

Add & Remove items

In [93]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.add('NINE') # add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.update(['ten','eleven','tweleve'])  # add multiple items using update()
myset

{'NINE',
 'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'tweleve',
 'two'}

In [103]:
myset.remove('two')
myset

KeyError: 'two'

In [104]:
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'tweleve'}

In [105]:
myset.discard('ten')

In [106]:
myset

{'eight', 'eleven', 'five', 'four', 'one', 'seven', 'six', 'three', 'tweleve'}

In [108]:
myset.clear()
myset

set()

In [109]:
del myset

In [110]:
myset

NameError: name 'myset' is not defined

Copy Set

In [111]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [113]:
myset1=myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [114]:
id(myset1), id(myset)

(3040562037472, 3040562037472)

if we add something in orginal set(myset) it impected in myset1

Set Operation

union

In [115]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8} 
C = {8,9,10}

In [ ]:
A|B  # (|) this is called union symbol it union 2 set into 1

{1, 2, 3, 4, 5, 6, 7, 8}

In [118]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [119]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [120]:
""" 
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C. 
""" 
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

intersection

In [ ]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [126]:
A & B  # intersection of A and B (it print common items in both sets)

{4, 5}

In [ ]:
A.intersection(B)   #(& this symbol as intersection)

{4, 5}

In [128]:
""" 
Updates the set calling the intersection_update() method with the intersection o 
For below example Set A will be updated with the intersection of A & B. 
""" 
A.intersection_update(B)
A

{4, 5}

Difference

In [2]:
 
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [ ]:
A-B  # set of elements that are only in A but not in B

{1, 2, 3}

In [ ]:
A.difference(B)  # Difference of set

{1, 2, 3}

In [ ]:
B-A   # set of elements that are only in B but in A

{6, 7, 8}

In [6]:
B.difference(A)

{6, 7, 8}

In [7]:
""" 
Updates the set calling the difference_update() method with the difference of se 
For below example Set B will be updated with the difference of B & A. 
""" 
B.difference_update(A)
B

{6, 7, 8}

Symmetric Difference

In [9]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [ ]:
A^B  # symmetric difference (set of elements in A and But not in both)

{1, 2, 3, 6, 7, 8}

In [11]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [12]:
""" 
Updates the set calling the symmetric_difference_update() method with the symmet 
For below example Set A will be updated with the symmetric difference of A & B. 
""" 
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

Subset, Superset & Disjoint

In [13]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [14]:
B.issubset(A)

True

In [15]:
A.issuperset(B)

True

In [16]:
C.isdisjoint(A)

True

In [17]:
B.isdisjoint(A)

False

Other Builtin functions

In [18]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
sum(A)

45

In [20]:
max(A)

9

In [21]:
len(A)

9

In [22]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [25]:
D= sorted(A, reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Dictionary

* dictonary is a mutuable data type in python.
* A python dictonary is a collection of key and value pairs separated by a colon(:) and enclosed in curly braces {}.
* Key must be unique in a dictonary. dupicate values are alloewd.

Creat Dictonary

In [28]:
mydict = dict()  # empty dictonary
mydict

{}

In [ ]:
mydict = {}  # empty dictonary
mydict

{}

In [32]:
mydict =  {1:'one' , 2:'two' , 3:'three'}  # dictonary with integer key
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [33]:
mydict = dict({ 1:'one' , 2:'two' , 3:'three'})  # create dictonary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [35]:
mydict =  {'A':'one' , 'B':'two' , 'C':'three'} # dictonary with character key
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [37]:
mydict =  {1:'one' , 'A':'two' , 3:'three'}  # dictonary with mixed key
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [ ]:
mydict.keys() # returns dictonary using keys() method.

dict_keys([1, 'A', 3])

In [ ]:
mydict.values()  # it print values

dict_values(['one', 'two', 'three'])

In [ ]:
mydict.items()  # it print items

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [41]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [42]:
key ={'a','b','c','d'}
value=10
mydict3=dict.fromkeys(key)
mydict3

{'d': None, 'a': None, 'b': None, 'c': None}

In [43]:
key ={'a','b','c','d'}
value=10
mydict3=dict.fromkeys(key,value)
mydict3

{'d': 10, 'a': 10, 'b': 10, 'c': 10}

In [44]:
key ={'a','b','c','d'}
value=[10,20,30]
mydict3=dict.fromkeys(key,value)
mydict3

{'d': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30]}

In [45]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

Accessing items

In [46]:
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [ ]:
mydict[1]  # Access items using key

'one'

In [48]:
mydict.get(1)  # Access items using get() method

'one'

In [49]:
mydict1 =  {'Name':'som' , 'ID': 74123 , 'DOB': 2000 , 'job' :'IT'} 
mydict1

{'Name': 'som', 'ID': 74123, 'DOB': 2000, 'job': 'IT'}

In [ ]:
mydict1['Name'] #access items using key

'som'

In [52]:
mydict1['DOB']

2000

Add, Remove & Change items

In [53]:
mydict1

{'Name': 'som', 'ID': 74123, 'DOB': 2000, 'job': 'IT'}

In [ ]:
mydict1['ID']  = 814406  # change dictonary items

In [56]:
mydict1.get('ID')

814406

In [58]:
dict1 = {'DOB':2001}
mydict1.update(dict1)
mydict1

{'Name': 'som', 'ID': 814406, 'DOB': 2001, 'job': 'IT'}

In [59]:
mydict1['job']= 'AI export'
mydict1

{'Name': 'som', 'ID': 814406, 'DOB': 2001, 'job': 'AI export'}

In [60]:
mydict1.pop('ID')
mydict1

{'Name': 'som', 'DOB': 2001, 'job': 'AI export'}

In [ ]:
mydict1.popitem()  # it remove items randomly
mydict1

{'Name': 'som', 'DOB': 2001}

In [62]:
mydict1

{'Name': 'som', 'DOB': 2001}

In [64]:
mydict1.clear()
mydict1

{}

In [66]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

Copy Dictonary

In [68]:
 
mydict = {'Name':'Som' , 'ID': 12345 , 'DOB': 2000 , 'Address' : 'Odisha'}
mydict

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Odisha'}

In [70]:
mydict1=mydict
mydict1

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Odisha'}

In [71]:
id(mydict), id(mydict1)

(1414422378304, 1414422378304)

In [73]:
mydict2 = mydict.copy()
mydict2

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Odisha'}

In [74]:
id(mydict2)

1414422659904

In [ ]:
mydict

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Odisha'}

In [77]:
mydict1['Address'] = 'Ganjam'
mydict1

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Ganjam'}

In [78]:
mydict1

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Ganjam'}

In [79]:
mydict2

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Odisha'}

Loop through a Dictonary

In [80]:
mydict1

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Ganjam'}

In [81]:
for i in mydict1:
    print(i)

Name
ID
DOB
Address

In [82]:
for i in mydict1:
    print(i, ':', mydict1[i])

Name : Som
ID : 12345
DOB : 2000
Address : Ganjam

Dictonary Membership

In [83]:
mydict1

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Ganjam'}

In [84]:
'Name' in mydict1

True

In [ ]:
'Som' in mydict1  # membership test can be dony only done for keys.

False

In [86]:
'ID' in mydict1

True

In [87]:
'Address' in mydict1

True

All / Any

The all() method return:

* True - if all keys of the dictonary are true
* False - if any key of the dictonary is false

The any() function returns True if any key of the dictonary is True. if not, any() returns False.

In [88]:
mydict1

{'Name': 'Som', 'ID': 12345, 'DOB': 2000, 'Address': 'Ganjam'}

In [90]:
all(mydict1)  # will return false as one value is false (value 0)

True